/* set so we can have the footer under the full viewport */
.login-page-div {
  height: 100vh;
}
/* used to center the login panel */
.login-page-body {
  height: 80%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-panel {
  min-height: 70vh;
  width: 50vh;
  margin: 0 auto;
  border-radius: 5px;
  border-color: var(--third-color);
  border-style: solid;
  border-width: thin;
}

.login-page-panel-title {
  padding: 2vw;
  text-align: center;
  font-size: 1.8em;
  color: var(--third-color);
  font-weight: bold;
}

.form-control-login {
  width: 80%;
  margin: 0 auto;
}
/* margin along with display block so we can center the button inside the panel */
.login-page-panel-form-btn {
  background-color: var(--main-color);
  color: var(--third-color);
  margin: 3vh auto;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 1.3em;
  display: block;
}

.login-page-panel-form-btn:hover {
  background-color: var(--sec-color);
  color: var(--main-color);
}
/* display flex for responsiveness and also to center the links */
.login-page-panel-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-panel-links-item {
  color: var(--third-color);
  padding: 1vh;
}

.login-page-panel-links-item:hover {
  color: var(--main-color);
}

/* focus to change the color of the selected field */
.form-control:focus {
  border-color: var(--main-color);
  box-shadow: none;
  border-width: medium;
}

.modal-body {
  text-align: center;
}
